.chat {
  overflow: auto !important;
}

.chat:-webkit-scrollbar {
  visibility: hidden;
  background-color: white;
  width: 1px;
  height: 1px;
}

.chat::-webkit-scrollbar-thumb {
  background-color: white;
  width: 0px;
  height: 1px;
}

.chat-header{
  display: flex;
  justify-content: space-between;
  height: 35px;
  background: white;
}

.chat-header-name-status {
  display: flex;
  align-items: baseline;
}

.chat-header-name-status p {
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 4px;
  color: black;
}

.chat-header button {
  background-color: rgb(199, 0, 0);
  outline: 0;
  border: 0;
}


.chat-header button:hover {
  background-color: rgb(94, 0, 0);
  transition: 0.7s;
}


.btn-close {
  font-size: 1.4rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
  width: 40px;
}

.chat-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: space-between;
  max-height: 600px;
  height: 70vh;
  min-width: 400px;
  background: linear-gradient(90deg, rgb(82, 81, 81) 0%, rgb(71, 71, 71) 35%, rgb(31, 31, 31) 100%);
  overflow-y: auto !important;
}

.chat-written-container {  
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  overflow-y: auto !important;
}

.chat-written-container::-webkit-scrollbar-thumb {
  background-color: white;
  width: 0px;
  height: 1px;
}

.chat-written-container::-webkit-scrollbar {
  visibility: hidden;
  background-color: white;
  width: 5px;
  height: 1px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  height: 35px;
  background: white;
}


.chat-container-text{
  display: flex;
  min-width: 100px;
  bottom: 0;
  width: 100%;
  overflow: auto !important;
}

.chat-container-text button {
  width: 50px;
  border-radius: 5px;
}

.chat-text {
  resize: none;
  height: 50px;
  overflow-y:auto;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  font-style: italic;
}

.chat-button {
  color: rgb(255, 255, 255);
  font-size: 40px;
  outline: 0;
  border: 0;
  background-color: black;
}

.chat-button:hover {
  cursor: pointer;
  transition: 1s;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

.chat-container button {
  width: 10%;
  min-width: 30px;
  cursor: pointer;
}