.home-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.home-auth-container {
  display: flex;
  background-color: rgb(58, 255, 229);
  width: 100vw;
  height: 100vh;
}

.open-script {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.list-scripts-container{
  display: flex;
  margin-top: 55px;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  text-align: center;
  overflow: auto !important;
}

@media(min-width:1000px){
  .list-scripts {
    margin-top: 140px;
    width:70%;
    min-height: 200px;
    height: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: auto !important;
  }
}

@media(max-width:999px){
  .list-scripts {
    margin-top: 140px;
    width:100%;
    min-height: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto !important;
  }
}


.list-scripts-search {
  margin: 5px 0px;
  width: 70%;
  height: 30px;
  text-align: center;
  font-size: 1.3rem;
}

.list-scripts-search::placeholder {
  text-align: center;
}


.scripts-container {
  border: 1px solid black;
  min-width: 200px;
  min-height: 200px;
  overflow: auto !important;
  margin-bottom: 10px;
}

.scripts-container:first-of-type {
  margin-right: 5px;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.scripts-icon {
  margin-top: 6px;
  font-size: 1.5rem;
}

.scripts-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.image-container {
  width: 100%;
}

.form-container {
  height: 50vh;
  overflow: auto;
}

.header-container {
  position: fixed;
  width: 100%;
}

.loading-container {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  margin-top: 40vh;
}


.menu {
  position: absolute;
  font-size: 3rem;
  background-color: black;
  color: white;
  padding: 5px 5px 0px 5px;
  width: 80px;
  text-align: center;
  top: 60px;
  left: 20px;
  border-radius: 5px;
}

.menu:hover {
  transition: 0.8s;
  cursor: pointer;
  color: rgb(170, 170, 170);
}

.menu p {
  font-size: 0.8rem;
}

.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.chat-container {
  border-radius: 5px 5px 0px 0px;
  position: absolute;
  width: 40%;
  margin-top: 50%;
  margin-left: 50%;
  max-width: 700px;
  min-width: 400px;
  background-color: black;
  color: white;
  bottom: 0;
  right: 3%;
  overflow: hidden;
}

.chat-Olivia {
  position: fixed;
  bottom: 8%;
  font-size: 5rem;
  right: 5%;
  border-radius: 40%;
  padding: 15px;
  outline: 0;
  border: 0;
  cursor: pointer;
  overflow: hidden;
}

.chat-Olivia:hover {
  transition: 1s;
}

.chat-container p {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  overflow: auto;
}

.chat-body {
  overflow: auto;
}
