.container {
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  overflow: hidden;
  background-color: none;
}

.form-container{
  text-align: center;
  align-items: baseline;
}

.form-label {
  font-size: 1.5rem;
  font-weight: bold;
}

.form-input {
  outline: 0;
  border: 0;
  min-width: 200px;
  min-height: 30px;
  width: 30vw;
  height: 4vh;
  text-align: center;
  color: rgb(56, 53, 53);
  margin: 10px;
  font-size: 1.2rem;
}

.form-input:focus {
  transition: 1.2s;
  outline: 0;
  background-color: rgb(227, 249, 255);
}

.form-input::placeholder {
  font-weight: bold;
  font-style: italic;
}

.form-input-invalid {
  outline: 0;
  border: 0;
  min-width: 200px;
  background-color: rgb(255, 126, 126);
  min-height: 30px;
  width: 30vw;
  height: 4vh;
  text-align: center;
  color: rgb(56, 53, 53);
  margin: 10px;
  font-size: 1.2rem;
}

.form-input-invalid::placeholder {
  font-weight: bold;
  font-style: italic;
}

.form-input-password {
  outline: 0;
  border: 0;
  min-width: 200px;
  min-height: 30px;
  width: calc(30vw - 16px);
  height: 4vh;
  text-align: center;
  color: rgb(56, 53, 53);
  margin: 10px;
  font-size: 1.2rem;
}

.form-input-password:focus {
  transition: 1.2s;
  outline: 0;
  background-color: rgb(227, 249, 255);
}

.form-input-password::placeholder {
  font-weight: bold;
  font-style: italic;
}

.form-input-password-invalid {
  outline: 0;
  border: 0;
  min-width: 200px;
  min-height: 30px;
  background-color: rgb(255, 126, 126);
  width: calc(30vw - 16px);
  height: 4vh;
  text-align: center;
  color: rgb(56, 53, 53);
  margin: 10px;
  font-size: 1.2rem;
}

.form-input-password-invalid{
  font-weight: bold;
  font-style: italic; 
}

.password-container{
  display: inline-block;
  width: fit-content;
}

.form-button {
  margin-top: 10px;
  margin-left: 5px;
  min-height: 20px;
  min-width: 30px ;
  width: 10vw;
  height: 3vh;
  font-size: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-weight: bold;
}

.form-button:hover {
  transition: 1.2s;
  color: rgb(163, 235, 255);
  cursor: pointer;
}

.show-password:hover {
  cursor: pointer;
}

.show-password-invalid {
  background-color: rgb(255, 126, 126); ;
}
